html {
    font-family: Verdana, sans-serif;
    overflow-x: hidden;
}

footer {
    background-color:rgb(25, 25, 25);
    position: absolute;
    bottom: -25%;
    left: 0;

    width: 100%;
    height: 25%;
}

footer >* {
    color: white;
    margin-left: 2%;
}