nav {
    float: right;
    text-align: left;
    font-size: 20px;
    
    height: 10%;
    
    width: 5%;
    
    background-color: aquamarine;
    
    margin-top: 10%;
    margin-right: -2.5%;

    padding-bottom: 10%;
    padding-top: 0;
    border-radius: 0px;

    transition: transform .3s;
}

nav:hover {
    transform: scaleX(8) scaleY(2);
    border-radius: 1px;
}

nav ul {
    transform: none;
}

nav:hover ul {
    transform: none;
}

header {
    width: 80%;
}